:root {
    --s: 175px; /* control the size */
    --c1: rgb(29, 29, 29);
    --c2: rgb(78, 79, 81);
    --c3: rgb(60, 60, 60);
  }
  .home-container {
    position: relative;
    overflow: hidden;
  }
  #Home,#OurProjects ,#TheDevelopers{
    position: relative;
    background-image: url('../../assets/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 10px;
  }
  

  .bottom-transition {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px; /* Adjust this value to control the height of the transition effect */
    background: linear-gradient(to bottom, transparent, rgba(9, 6, 47, 0.815)); /* Adjust the color to match your design */
    pointer-events: none;
  }

  .top-transition {
    position: absolute;
    top: 0; /* Move the transition effect to the top */
    left: 0;
    width: 100%;
    height: 50px; /* Adjust this value to control the height of the transition effect */
    background: linear-gradient(to top, transparent, rgb(9, 6, 47)); /* Adjust the color to match your design */
    pointer-events: none;
  }
  
  

  html {
   
    --_g: var(--c3) 0 120deg,#0000 0;
   
  }

  #AboutUs ,#OurTeam {
    position: relative;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    background-image: url('../../assets/bgr.jpg');

  }