:root {
    --s: 175px; /* control the size */
    --c1: rgb(29, 29, 29);
    --c2: rgb(78, 79, 81);
    --c3: rgb(60, 60, 60);
  }
  .home-container {
    position: relative;
    overflow: hidden;
  }
  #Home,#OurProjects ,#TheDevelopers ,#slideshow, #tree{
    position: relative;
    background-image: url('../../assets/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 10px;
  }
  

  .bottom-transition {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px; /* Adjust this value to control the height of the transition effect */
    background: linear-gradient(to bottom, transparent, rgba(9, 6, 47, 0.815)); /* Adjust the color to match your design */
    pointer-events: none;
  }

  .top-transition {
    position: absolute;
    top: 0; /* Move the transition effect to the top */
    left: 0;
    width: 100%;
    height: 50px; /* Adjust this value to control the height of the transition effect */
    background: linear-gradient(to top, transparent, rgb(9, 6, 47)); /* Adjust the color to match your design */
    pointer-events: none;
  }
  
  html {
   
    --_g: var(--c3) 0 120deg,#0000 0;
   
  }

  #AboutUs ,#OurTeam {
    position: relative;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    background-image: url('../../assets/bgr.jpg');

  }

/* The `.img_glow_end` CSS class is creating a visual effect of a glowing shadow around an element.
Here's what each property is doing: */
  .img_glow_end {
    box-shadow: 0px 0px 60px rgb(131, 90, 148);
    background-color: rgba(58, 56, 56, 0.329); /* Same color as the shadow */
}


@media (max-width: 768px) {
  .modal-content {
    width: 90%;
    height: auto;
    max-height: 80%;
    padding: 1rem;
  }
}

@media (min-width: 769px) {
  .modal-content {
    width: 60%;
    height: auto;
    max-height: 80%;
    padding: 2rem;
  }
}

.custom-bg {
  background-image: url('../../assets/modalbg.png'); 
  background-size: cover; 
  background-position: center; 
}
.active {
  background-color: rgba(58, 2, 59, 0.925);
  color: white;
  padding: 10px;
  border-radius: 5px;
}





