<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/src/assets/ADPLogoNewGrad_Transparent.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Apogee 24</title>
  </head>
  <body>
    <div id="root"></div>
    <script>
      document.addEventListener("visibilitychange", function() {
        document.title = document.hidden ? "Apogee 24" : "Apogee 24";
      });
    </script>
    <script type="module" src="main2.jsx"></script>
  </body>
</html>
