
@tailwind base;
@tailwind components;
@tailwind utilities;


/* for removing scrollbar in chrome, safari and opera */
::-webkit-scrollbar {
    display: none;
}

.glow {
    transition: all 0.3s ease-in-out;
}

.glow:hover {
    box-shadow: 0 0 25px rgb(186, 186, 187);
}

.img_glow {
    box-shadow: 0px 15px 70px rgba(131, 90, 148, 0.676);
    background-color: rgba(58, 56, 56, 0); /* Same color as the shadow */
}

.nano-button {
    transition: all 0.3s ease-in-out;
}

.nano-button:hover {
    box-shadow: 0 0 15px rgb(186, 186, 187);
}

.border-glow {
    box-shadow: 0 0 15px rgb(186, 186, 187);
}
.shadow-silver-glow {
    box-shadow: 0 0 10px rgba(192, 192, 192, 0.5); /* Light silver glow */
  }
  /* Increase glow effect */
.shadow-silver-glow-strong {
    box-shadow: 0 0 15px rgba(192, 192, 192, 0.8); /* Adjusted glow intensity */
  }
  
  .text-silver-800 {
    color: #6e6e6e; /* Adjust color if needed */
  }
  
  .border-silver-700 {
    border-color: #6e6e6e; /* Adjust color if needed */
  }
  .icon-glow {
    position: relative;
    display: inline-block;
  }
  
  .icon-glow::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(192, 192, 192, 0.5); /* Silver glow effect */
    z-index: -1;
  }
  
  
  